/*features*/

.section-features .container {
  padding-top: 60px;
}

.section-features {
  margin-bottom: 60px;
}

.features {
  list-style: none;
  justify-content: center;
  padding-left: 0px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-itam {
  @media (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);

    margin: 15px;
  }

  @media (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 354px;
  }

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.features-title {
  text-align: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}
