/*filter*/

.filter {
  list-style: none;
  display: flex;
  padding-left: 0px;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.filter-button {
  color: var(--title-color);
  background: #f5f4fa;

  .filter &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-button-hover {
  font-weight: 500;
  font-size: 94%;
  color: #212121;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-color);
    background: var(--link-color);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
