/*Form*/

textarea {
  resize: none;
}

.form {
  @media (max-width: 1199px) {
    max-width: 450px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 8px;
  }

  @media (min-width: 1200px) {
    width: 528px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 40px;
  }

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-fild {
  margin-bottom: 28px;
  position: relative;

  & input {
    width: 100%;
    margin: 0;
    padding: 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:focus input {
    border: 1px solid #2196f3;
  }

  & textarea {
    @media (min-width: 1200px) {
      width: 448px;
      height: 120px;
    }
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 30px;

  color: #212121;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  margin: -1px;
  height: 1px;
  width: 1px;

  &:checked + .icon-checkbox {
    background-color: #2196f3;
    border-color: #2196f3;
    background-image: url("../img/Vector.svg");
    background-size: contain;
    background-origin: border-box;
  }
}

.form-checkbox {
  display: flex;

  & input[type="checkbox"] {
    width: 16px;
    height: 15px;
  }

  & label {
    font-size: 14px;
    margin-left: 8.3px;
    margin-bottom: 30px;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox-label {
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  transform: translateY(-45px) translateX(-30px);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.icon-form {
  position: absolute;
  top: 12px;
  left: 16px;

  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-input:focus ~ .icon-form {
  --color3: #2196f3;
}

.form-button {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 124px;
}

.link-form {
  color: #2196f3;
}
