body {
  margin: 0;

  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;

  --link-color: #2196f3;
  --title-color: #212121;
  --button-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }

  background-color: rgb(248, 147, 147);
}
