/*clients*/

.section-clients {
  margin-top: 0px;
  margin-bottom: 76px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin: -15px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 15px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 0px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
  }

  &:hover {
    border: 1px solid var(--link-color);
    --color3: var(--link-color);
  }
}
