/*clients*/

.section-clients {
  margin-top: 0px;
  margin-bottom: 76px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid var(--link-color);
    --color3: var(--link-color);
  }
}
