/*Logo*/

.logo {
  display: block;
  text-decoration: none;
}
.logo-web {
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  @media screen and (min-width: 768px) {
    margin-right: 85px;
  }
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.inversia {
  color: #fff;
}
