/*Logo*/

.logo {
  display: flex;
  text-decoration: none;
}
.logo-web {
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  margin-right: 85px;
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.inversia {
  color: #fff;
}
