/*Logo*/

.logo {
  display: block;
  text-decoration: none;
}
.logo-web {
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  @media (min-width: 768px) {
    margin-right: 67px;
  }
  @media (min-width: 1200px) {
    margin-right: 85px;
  }
}

.inversia {
  color: #fff;
}
