/*main-nav*/

.header-portfolio {
  @media screen and (min-width: 1200px) {
    margin-bottom: 93px;
  }
  margin-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}
